* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
}
.clock {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.clock span {
  font-weight: bold;
  font-size: 4rem;
}
.clock div {
  display: flex;
  width: 150px;
  height: 145px;
  border-radius: 50%;
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#ampm {
  display: flex;
  position: relative;
  font-size: 2.5rem;
  background-color: rgba(247, 19, 19, 0.873);
  border-radius: 50px;
  height: 66px;
  width: 66px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
